InstallerApp/.xmake/
InstallerApp/build/
InstallerApp/dist/data/logs/
InstallerApp/dist/data/last-7z-output.log
InstallerApp/dist/Cyber_TEST/
InstallerApp/CSS.txt
InstallerApp/dist/*.torrent
InstallerApp/dist/data/package/*.torrent
InstallerApp/dist/data/downloads/
InstallerApp/dist/modlist-installer-updated.exe
PackerApp/.xmake/
PackerApp/build/

*.obj
*.pdb
*.ilk
*.lib
*.exp
*.dll
*.log
*.tmp
*.user
*.suo

*.exe
!InstallerApp/dist/modlist-installer.exe
!InstallerApp/resources/7z.exe
!PackerApp/dist/modlist-installer.exe
!PackerApp/dist/modlist-packer.exe
