InstallerApp/.xmake/
InstallerApp/build/
InstallerApp/dist/logs/
InstallerApp/dist/last-7z-output.log
InstallerApp/dist/*.torrent
InstallerApp/dist/package/*.torrent
InstallerApp/dist/downloads/
InstallerApp/dist/modlist-installer-updated.exe

*.obj
*.pdb
*.ilk
*.lib
*.exp
*.dll
*.log
*.tmp
*.user
*.suo

*.exe
!InstallerApp/dist/modlist-installer.exe
!InstallerApp/dist/tools/7zip/7z.exe
