build/
.xmake/
out/
*.user
*.suo
*.log
*.tmp
*.obj
*.pdb
*.ilk
*.exe
!dist/modlist-installer.exe
!dist/data/tools/webview2/MicrosoftEdgeWebview2Setup.exe
!resources/webview2/MicrosoftEdgeWebview2Setup.exe
dist/data/logs/
dist/data/downloads/
*.dll
!resources/7z.dll
*.lib
*.exp
dist/ui/
third_party/webview2/
