build/
.xmake/
out/
*.user
*.suo
*.log
*.tmp
*.obj
*.pdb
*.ilk
*.exe
!dist/modlist-installer.exe
dist/data/logs/
dist/data/downloads/
dist/data/tools/
*.dll
*.lib
*.exp
dist/ui/
third_party/webview2/
